header,
section,
footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 200px;
  background-color: #e4d6d6;
}

#logo {
  width: 150px;
  height: 180px;
  float: left;
  margin: 10px;
  background-color: #df4040;
}

#buscar {
  width: 500px;
  height: 50px;
  float: left;
  margin-top: 75px;
  background-color: #df4040;
}

#menu {
  width: 270px;
  height: 180px;
  float: right;
  margin: 10px;
  background-color: #df4040;
}

#menu1{
  width: 260px;
  height: 50px;
  float: left;
  margin: 5px;
  background-color: #3D0707;
}

#menu2{
  width: 260px;
  height: 50px;
  float: left;
  margin: 5px;
  background-color: #3D0707;
}

#menu3{
  width: 260px;
  height: 50px;
  float: left;
  margin: 5px;
  background-color: #3D0707;
}