header,
section,
footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 200px;
  background-color: #e4d6d6;
}

#logo {
  width: 150px;
  height: 180px;
  float: left;
  margin: 10px;
  background-color: #df4040;
}

#buscar {
  width: 500px;
  height: 50px;
  float: left;
  margin-top: 75px;
  background-color: #df4040;
}

#menu {
  width: 270px;
  height: 180px;
  float: right;
  margin: 10px;
  background-color: #df4040;
}

#menu1{
  width: 260px;
  height: 50px;
  float: left;
  margin: 5px;
  background-color: #3D0707;
}

#menu2{
  width: 260px;
  height: 50px;
  float: left;
  margin: 5px;
  background-color: #3D0707;
}

#menu3{
  width: 260px;
  height: 50px;
  float: left;
  margin: 5px;
  background-color: #3D0707;
}
/*
secciones
*/

#seccion1{
  height: 500px;
  margin-top: 5px;
  background-color: #e4d6d6;
}

#seccion1_ID1, #seccion1_ID2, #seccion1_ID3{
  width: 310px;
  height: 490px;
  margin: 5px;
  background-color: #3D0707;
  border-radius: 50px;
  float: left;
}

#seccion1_ID1_id1, #seccion1_ID1_id2 , #seccion1_ID1_id3{
  width: 260px;
  height: 150px;
  float: right;
  margin: 25px;
  background-color: #df4040;
}

#seccion1_ID1_id1{
  border-radius: 49%;
}


#seccion1_ID1_id2{
  width: 610px;
  margin-right: 10px;
  margin-top: 325px;
  border-radius: 50px;
}

#seccion1_ID1_id3{
  width: 610px;
  margin-right: 10px;
  margin-top: 147px;
  border-radius: 50px;
}

#seccion2{
  height: 500px;
  margin-top: 5px;
  background-color: #e4d6d6;
}

#seccion2_ID1{
  margin: 5px;
  width: 680px;
  height: 340px;
  background-color: #3D0707;
  float: left;
}

#seccion2_ID2{
  margin-top: 150px;
  margin-left: 42px;
  width: 200px;
  height: 200px;
  background-color: #3D0707;
  float: left;
  border-radius: 49%;
}

#seccion2_ID3, #seccion2_ID4, #seccion2_ID5{
  margin-top: 15px;
  margin-left: 30px;
  width: 200px;
  height: 100px;
  background-color: #3D0707;
  float: left;
  border-radius: 15px;
}

#seccion2_ID3{
  margin-left: 10px;
}

#seccion2_ID4{
  margin-left: -45px;
  width: 400px;
  background-color: #df4040;
}

#seccion2_ID5{
  margin-left: -185px;
  width: 300px;
}

/*
arrancamos el Footer
*/

footer{
  height: 200px;
  margin-top: 5px;
  background-color: #e4d6d6;
}

#menu_{
  width: 940px;
  height: 90px;
  float: left;
  margin: 10px;
  margin-top: 30px;
  background-color: #df4040;
}

#menu1_{
  width: 280px;
  height: 80px;
  float: left;
  margin: 5px;
  background-color: #3D0707;
}

#menu2_{
  width: 280px;
  height: 80px;
  float: left;
  margin: 5px;
  margin-left: 42px;
  background-color: #3D0707;
}

#menu3_{
  width: 280px;
  height: 80px;
  float: right;
  margin: 5px;
  background-color: #3D0707;
}

#descripcion{
  width: 600px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  background-color: #df4040;
}